@charset "utf-8";

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100vh;
}
main::before{
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('/assets/bg.jpg') no-repeat 0 0 / cover;
  opacity: 0.6;
}

section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  width: calc(100vw - 20px);
  height: 100vh;
}

.ball_answer{
  text-align: center;
  width: 180px;
  padding: 20px;
  border: 1px solid #CCCCCC;
  background-color: #FFFFFF;
  border-radius: 5px;
  font-size: 18px;
}

.ball_question{
  margin-top: 30px;
  padding: 13px 20px;
  font-size: 20px;
  background: #333333;
  text-align: center;
  color: #FFFFFF;
  border-radius: 5px;
}

.ball_question span{
  display: block;
  font-size: 16px;
  margin-top: 20px;
}

.ball_question span em{
  font-style: normal;
}

form{
  display: flex;
  margin-top: 30px;
}

form .ball_input{
  width: 100px;
  height: 30px;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
}

form button{
  background: #fd4c4c;
  border: none;
  border-radius: 5px;
  width: 70px;
  height: 30px;
  margin-left: 10px;
  padding: 0 10px;
  color: #FFFFFF;
  cursor: pointer;
}

form button:hover, button:active, button:focus{
  opacity: 0.8;
}